#音声ファイル
*.m4a
*.ogg
*.png
*.psd

#隠れwindows設定を無視
desktop.ini

# エディタ用の無視設定
/.vscode/

#セーブデータ
/save/

#デバッグ用の一時ファイル
/debug/

#その他リソース
!/audio/
!/data/
!/img/
!/fonts/
!/icon/
!/movies/

#メインのスクリプト
!/js/libs/
!/js/rpg_core.js
!/js/rpg_managers.js
!/js/rpg_objects.js
!/js/rpg_scenes.js
!/js/rpg_sprites.js
!/js/rpg_windows.js

#コミット対象のプラグインを指定
!/js/pluguins/*.js